# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
.venv/

# Logs and databases
*.log
*.sqlite3

# IDE/editor folders
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.so
*.dylib

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
